.post
  %h3.title
    = post.title
    -# %span.time= post.created_at.strftime '%l:%M %P'
    %span= link_to image_tag('icon-gear.png'), admin_post_path(post)
    %span.date= post.created_at.strftime "%b. #{post.created_at.day.ordinalize}, %Y" 
  %p.body= post.body_html
