#introduction
  = image_tag 'DSC_8265.png'
  = image_tag 'firstandrr.png'
  %p
  %p Welcome to the Mekheads Team 1604 official website. We are a robotics team based in the Central Florida area, and take part in competitions held by #{link_to 'FIRST', 'http://usfirst.org'}, a non-profit organization. Harmony High School, TECO/Paths, St. Cloud High School, and Gateway High School are all involved with our group. The mission of Mekheads 1604 is to promote science, technology, engineering, and math (STEM). We accomplish all of these at every meeting. There are also subteams within the main team, that each have their own "team lead". These include mechanical, electrical, programming, web design, and marketing. For more information about each section, visit #{link_to 'this', '/team'}page. We meet every Thursday from 6-8 in Mr. Berkley's room at TECO. If you are interested in joining our team, please contact Mrs. Berkley at berkleyj(at)osceola.k12.fl.us.
  %p
    %strong This year's game, Rebound Rumble, is here!
    #{link_to 'Click here', 'http://youtu.be/hK_kzwlki2M'} to see a video of the game.

#news
  = render partial: 'post', collection: @posts