#mentors
  %p.description These are all the wonderful mentors that help us achieve our goals. They are responsible for the success and knowledge in our team, and we are glad we have so many.
  %div.mentor
    %h2 Gavin Barnes
    = image_tag 'gavin.png', class: 'mentor'
    %p Gavin Barnes has been a mentor to the Mekheads since 2008.  During that time, his efforts were chiefly dedicated to the instruction of labview as the programming mentor until this most recent year, where the programing crew opted for their first foray into the land of C++.  Outside of FIRST, he is employed as a Systems Engineer at Lockheed Martin.  He has both a Bachelor&#39;s and Master&#39;s Degree in Mechanical Engineering from the University of Central Florida where he is now pursuing an Masters in Business Administration as well.  Apparently, he felt the need to dedicate an entire decade of his life to one educational institution.
  %div.mentor
    %h2 Matt Bartoe
    = image_tag 'matt.png', class: 'mentor'
    %p Matthew Bartoe is a Mechanical Mentor on his second year with team 1604.  He is persuing his Masters in Mechanical Enginering at the University of Central Florida (UCF).  While at UCF he has been working at Lockheed Martin for the past five and a half years in the College Work Experience Program (CWEP).  According to Tim Lanning (Mekheads President), he was raised by wolves in the Siberian tundra.  After his graduation in May 2012, he plans to work in an engineering field with a focus in robotics. 
  %div.mentor
    %h2 Ricardo Arencibia
    %p Ricardo Arencibia likes long walks on the beach, rescuing innocent animals, and reading by the fireplace (because Florida is very cold especially during snowboarding season). He joined the Mekheads to help teach kids how to create one of the meanest, baddest, and coolest robots for the FIRST competition. Outside of FIRST, he is employed full time at Lockheed Martin as an Electrical Engineer. Rick graduated from the University of Florida with a Bachelor&#39;s degree in Electrical Engineering and is pursuing a Master&#39;s degree in Electrical Engineering from the Georgia Institute of Technology, specializing in control systems and digital signal processing. Teaching motto&#58; &quot;Build a man a fire, and he&#39;ll be warm for a day. Set a man on fire, and he&#39;ll be warm for the rest of his life&quot; - Terry Pratchett
  %div.mentor
    %h2 Ethan Pemble
    = image_tag 'ethan.png', class: 'mentor'
    %p Ethan works as a software developer for Cloudspace.  He graduated in 2010 from University of Central Florida with a degree in Computer Engineering.  He dreams of some day building 'the coolest treehouse ever.'  
  %div.mentor
    %h2 Cliff Berkley
    = image_tag 'mrberkley.png', class: 'mentor'
    %p Mr. Berkley provides the knowledge base for the drive-train on our robot.  He is the automotive technology instructor at TECO.  He began his career with automobiles right out of high school, enlisting with the army and eventually attaining the rank of Warrant Officer in automotive maintance.  He served two tours in Vietnam, was stationed in Germany, and finished his service in Okalahoma.  After his discharge, he went on to work at several dealerships as the shop foreman before deciding to open his own successful auto repair garage.  He dabbled in racing, owning several cars of his own as well as being chief mechanic for a very successful Pikes Peak hill-climb car.  Mr. Berkley enjoys working on anything, as long as it has wheels and an engine!
  %div.mentor
    %h2 Jane Berkley
    = image_tag 'mrsberkley.png', class: 'mentor'
    %p Mrs. Berkley brings together all of the resources that the Mekheads require in order to have a successful FIRST Robotics team.  She is currently teaching Honors Biology and Advanced Placement Biology at the high school, but has taught band, choir, and math during her career.  She has taught every grade level from 2nd through 12th grade.  A National Board Certified teacher, she is the Department Chair at Harmony High School.  She and Mr. Berkley have two daughters, one a mechanical engineer with Lockheed Martin and the other a high-school American History teacher.  Mrs. Berkley has held down a wide variety of jobs in the past:  optometrists&#39; assistant, pharmacy technician, title clerk, office manager, Challenge By Choice Ropes Instructor, white-water raft guide down the Arkansas River, swim coach, and city pool manager (just to name a few).  Her hobbies have ranged from gardening to race-car driver.  As long as students have the excitement and drive to want to learn, she is ready to facilitate the learning!
  %div.mentor
    %h2 Adrian Goetz
    %p Adrian was born in Colorado and then moved to Miami in high school. He got a degree in film from UCF and has been working as a photographer at Disney for the past five years. On the side, he photographs events such as weddings, and does portrait sessions. He lived with three engineers in college and it fostered a love for science and technology that has only grown since.
  %div.mentor
    %h2 Evan Herndon
    %p Evan is the smartest mentor we have on the Mekheads team. Not only is he intelligent, but he is also incredibly good-looking. He&#39;s a transplant from the cornfields of southwestern Indiana, coming from a small town with the motto &#34;You&#39;ll Like Linton.&#34; Evan has many different hobbies including cars, dirt bikes, snowboarding (which he gets to do often in Florida), music, and of course robotics. Evan graduated from Purdue University in May 2011 with a bachelor&#39;s degree in Mechanical Engineering and is now working online towards his master&#39;s degree in Mechanical Engineering from the Georgia Institute of Technology, specializing in control systems and robotics. Evan works full time at Lockheed Martin as a Mechanical Engineering Leadership Development Program Associate. He wasn&#39;t raised by wolves, but rumor has it that he moonlights as the popular British race car driver, The Stig.
  %div.mentor
    %h2 Nancy Lanning
    = image_tag 'nancylanning.png', class: 'mentor'
    %p Nancy has worked the past 15 years for Oracle Corporation.  Her current role is a Senior Software Support Manager for the Applications Integrations Architecture team.  Previously, she has worked at Harris Corporation, USF&amp;G Insurance Company and B. Green and Company in a Programmer/analyst role.  She has an undergrad degree in Business Administration with her major being in Information Systems.   She currently resides in St. Cloud with her husband and 3 sons.
  %div.mentor
    %h2 Kevin Thomas
    = image_tag 'kevin.png', class: 'mentor'
    %p Kevin Thomas teaches Physics, Chemistry, and Physical Science at PATHS. He became involved with the Mekheads in Fall 2011. Mr. Thomas works on helping the Mekheads understand physical concepts that help them decided how to build and program the robot. He got his Bachelor&#39;s degree in Physics and Master&#39;s degree in Science Education from UCF. His goal is to reinforce science principles and encourage all the Mekheads to pursue science and engineering in their careers.
  %div.mentor
    %h2 Eric Bourgeois
    %p I&#39;m from a small town in Louisiana called Vacherie.  I attended college at Louisiana State University where I earned a Bachelor&#39;s of Science in Mechanical Engineering.  I moved to Florida in June 2009 to start working as a Mechanical Engineer for Lockheed Martin. My current title is Stress Analyst, but I also work in structure dynamics from time to time supporting various different programs.  I became an engineer because of an interest in cars.  I actually have a 1967 Firebird back in Louisiana.  In my spare time, I write computer codes in Matlab to help me design new suspension components for it.  I also enjoy trail riding on my 4-wheeler.  I plan to start work on a master&#39;s degree in Mechanical Engineering in either the summer or fall of this year.
  %div.mentor
    %h2 Joanne Sirois
    %p 
