#mentors
  %p.description These are all the wonderful mentors that help us achieve our goals. They are responsible for the success and knowledge in our team, and we are glad we have so many.
  %div.mentor
    %h2 Gavin Barnes
    %p 
  %div.mentor
    %h2 Matt Bartoe
    = image_tag 'mattbartoeweb.jpg', width: '30%', align: 'right'
    %p 
  %div.mentor
    %h2 Ricardo Arencibia
    %p 
  %div.mentor
    %h2 Ethan Pemble
    = image_tag 'ethan-bio.png', align: 'right'
    %p Ethan works as a software developer for Cloudspace.  He graduated in 2010 from University of Central Florida with a degree in Computer Engineering.  He dreams of some day building 'the coolest treehouse ever.'  
  %div.mentor
    %h2 Cliff Berkley
    = image_tag 'mrberkley.jpg', align: 'right'
    %p Mr. Berkley provides the knowledge base for the drive-train on our robot.  He is the automotive technology instructor at TECO.  He began his career with automobiles right out of high school, enlisting with the army and eventually attaining the rank of Warrant Officer in automotive maintance.  He served two tours in Vietnam, was stationed in Germany, and finished his service in Okalahoma.  After his discharge, he went on to work at several dealerships as the shop foreman before deciding to open his own successful auto repair garage.  He dabbled in racing, owning several cars of his own as well as being chief mechanic for a very successful Pikes Peak hill-climb car.  Mr. Berkley enjoys working on anything, as long as it has wheels and an engine!
  %div.mentor
    %h2 Jane Berkley
    = image_tag 'mrsberkley.jpg', width: '30%', align: 'right'
    %p Mrs. Berkley brings together all of the resources that the Mekheads require in order to have a successful FIRST Robotics team.  She is currently teaching Honors Biology and Advanced Placement Biology at the high school, but has taught band, choir, and math during her career.  She has taught every grade level from 2nd through 12th grade.  A National Board Certified teacher, she is the Department Chair at Harmony High School.  She and Mr. Berkley have two daughters, one a mechanical engineer with Lockheed Martin and the other a high-school American History teacher.  Mrs. Berkley has held down a wide variety of jobs in the past:  optometrists&#39; assistant, pharmacy technician, title clerk, office manager, Challenge By Choice Ropes Instructor, white-water raft guide down the Arkansas River, swim coach, and city pool manager (just to name a few).  Her hobbies have ranged from gardening to race-car driver.  As long as students have the excitement and drive to want to learn, she is ready to facilitate the learning!
  %div.mentor
    %h2 Adrian Goetz
    %p 
  %div.mentor
    %h2 Evan Herndon
    %p 
  %div.mentor
    %h2 Nancy Lanning
    = image_tag 'nancylanning.jpg', width: '30%', align: 'right'
    %p Nancy has worked the past 15 years for Oracle Corporation.  Her current role is a Senior Software Support Manager for the Applications Integrations Architecture team.  Previously, she has worked at Harris Corporation, USF&G Insurance Company and B. Green and Company in a Programmer/analyst role.  She has an undergrad degree in Business Administration with her major being in Information Systems.   She currently resides in St. Cloud with her husband and 3 sons.
  %div.mentor
    %h2 Mike Sandell
    %p 
  %div.mentor
    %h2 Kevin Thomas
    = image_tag 'kevin.jpg', align: 'right'
    %p Kevin Thomas teaches Physics, Chemistry, and Physical Science at PATHS. He became involved with the Mekheads in Fall 2011. Mr. Thomas works on helping the Mekheads understand physical concepts that help them decided how to build and program the robot. He got his Bachelor&#39;s degree in Physics and Master&#39;s degree in Science Education from UCF. His goal is to reinforce science principles and encourage all the Mekheads to pursue science and engineering in their careers.
  %div.mentor
    %h2 Jeannie Clark
    %p 
  %div.mentor
    %h2 Eric Bourgeois
    %p 
  %div.mentor
    %h2 Joanne Sirois
    %p 
