#sponsors
  %p.description Mekheads Team 1604 are grateful to these sponsors for the continuation of our team. Without you, our team would not be possible.
  %div.sponsor
    %h2= link_to 'Walt Disney World Resort Company', 'http://www.disney.com/'
    = image_tag 'disneytransparent.png', class: 'sponsor'
    %p Walt Disney has supported our team since the beginning, and we are very grateful for their support. Thank you Disney!
  %div.sponsor
    %h2= link_to 'Lockheed Martin', 'http://www.lockheedmartin.com/'
    = image_tag 'lockheed-martintransparent.png', class: 'sponsor'
    %p Lockheed Martin has been a long-time sponsor of our team, and we are very glad to have them. Thank you Lockheed Martin!
  %div.sponsor
    %h2= link_to 'NASA', 'http://www.nasa.gov/'
    = image_tag 'nasatransparent.png', class: 'sponsor'
    %p NASA (National Aeronautics and Space Administration) is a new sponsor for our 2012 season, and we appreciate their support. Thank you NASA!
  %div.sponsor
    %h2= link_to 'AmeraTrail', 'http://www.ameratrail.com/'
    = image_tag 'ameratrailtransparent.png', class: 'sponsor'
    %p AmeraTrail has been painting our robot teal for a few years now, and their work is greatly appreciated. Thank you AmeraTrail!
  %div.sponsor
    %h2= link_to 'Walmart', 'http://www.walmart.com/'
    = image_tag 'walmarttransparent.png', class: 'sponsor'
    %p Walmart is a returning sponsor for our 2012 season, and we are glad they can help us out. Thank you Walmart!
  %div.sponsor
    %h2= link_to 'Progress Energy', 'http://www.progress-energy.com/'
    = image_tag 'progressenergytransparent.png', class: 'sponsor'
    %p Progress Energy has helped our team in the past, and they are a valued sponsor of our team. Thank you Progress Energy!
  %div.sponsor
    %h2= link_to 'Mullinax Ford', 'http://www.mullinaxford.com/'
    = image_tag 'MullinaxLogotransparent.png', class: 'sponsor'
    %p Mullinax Ford is a brand new sponsor to our team. Thank you Mullinax Ford!
  %div.sponsor
    %h2= link_to 'Cloudspace', 'http://www.cloudspace.com/'
    = image_tag 'cloudspace-originalcolor.png', class: 'sponsor'
    %p Cloudspace is another new sponsor this year.  Thank you!

