#team
  = image_tag 'banner.png'
  %p.description Our team is organized into five different subteams. This type of organization allows for substantial productivity, and helps everything run smoothly. These teams also work together to make sure everything works well with what the other subteams are doing. Towards the end of the build season, all the subteams come together to construct a fantastic robot.
  %p.description These are the subteams for the 2012 build season. Information about each subteam can be found by clicking on the name.
  %div.subteam
    %h2 #{link_to 'Mechanical', '/mechanical'}
    %p We are responsible for the building of the robot, and anything to do with the hardware on it.
  %div.subteam
    %h2 #{link_to 'Electrical', '/electrical'}
    %p We make sure all of the elctronic components of the robot are working together and work with the mechanical pieces of the robot.
  %div.subteam
    %h2 #{link_to 'Programming', '/programming'}
    %p We give the robot a brain, and make all the elctronics work together and perform a task.
  %div.subteam
    %h2 #{link_to 'Marketing', '/marketing'}
    %p Reaches out and communicates to the community by creating brochures, presentations, videos, signs, and buttons promoting the team and soliciting sponsorship.
  %div.subteam
    %h2 #{link_to 'Web Design', '/webdesign'}
    %p We are responsible for the website of the team.