.box
  #bar
    %ol
      %li= link_to 'The Team', team_path, class: ('active' if current_page?(action: 'team'))
      %li= link_to 'Our History', root_path, class: ('active' if current_page?(action: 'history'))
      %li= link_to 'Our Mentors', mentors_path, class: ('active' if current_page?(action: 'mentors'))
      %li= link_to 'Our Sponsors', sponsors_path, class: ('active' if current_page?(action: 'sponsors'))
      %li= link_to 'About This Site', aboutsite_path, class: ('active' if current_page?(action: 'aboutsite'))
