!!!
%html
  %head
    %title Mekheads 1604
    = favicon_link_tag '/assets/favicon.jpg'
    = stylesheet_link_tag :main
    = javascript_include_tag :application

  %body
    #banner
      = render partial: '/layouts/banner'
    
    #links
      = render partial: '/layouts/links'

    #content
      .box= yield

    #footer
      = render partial: '/layouts/footer'
